*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBox{
    display: flex;
    justify-content: center;
}

.footer{
    background-color: transparent;
}

.MN-ui{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bblr{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.MN-ui span{
    font-size: 16px;
    cursor: pointer;
}

.DN-ui{
    padding: 20px;
}

.DN-ui span{
    cursor: pointer;
}

@media (max-width: 500px) {
    #desktop-nav{
        display: none;
    }
}

@media (min-width: 501px) {
    #mobile_nav{
        display: none;
    }
}
