*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: darkblue;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.Todo-text{
    font-size: 20px;
    font-weight: 300;
}

.Todo-check{
    width: 25px;
    height: 25px;
}

.test1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.test2{
    padding: 20px 0px 20px 10px;
}

.box-content{
    padding: 0px 10px 0px;
    border-bottom: 1px solid gray;
}

#btn{
    cursor: pointer;
}